/*NFT*/
grid_nft
{
    display: grid;
    min-width: 360px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 5px;

    max-height: 400px;
    overflow:auto;

}



item_nft
{
    padding: 2px;
    margin: 5px auto;
    width: 80px;
    height: 110px;

    font-size: 12px;

    color: black;
    background-color: #f2f3f5;
    box-shadow: 0 0 5px rgb(0 0 0);
    border-radius: 5px;

    line-height: 14px;
}

@media (max-width: 445px)
{
    grid_nft
    {
        max-height: 256px;
        min-width: 0;
    }
}


item_nft:hover
{
    color: #cb763a;
    cursor: pointer;
}
.selected
{
    border: 2px orange solid;
}
item_nft img
{
    width: 100%;
    max-width: 76px;
    max-height: 76px;
}

#idListNFT
{
    max-height: 130px;
}

